* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #a0522d;
}
input[type="text"] {
  border-radius: 30px;
  border: 1px solid transparent;
  margin: 20px;
  outline: none;
  padding: 10px;
}
input[type="submit"] {
  border-radius: 30px;
  outline: none;
  border-color: transparent;
  padding: 15px;
  color: #ffffff;
  background-color: #2e8b57;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #ffd700;
}
.modal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the modal vertically and horizontally */
  /* background-color: #fefefe; */
  padding: 20px;
  /* border: 1px solid #888; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
  border-radius: 5px;
}
header {
  display: block;
  width: 100;
  height: 100;
  margin: 70;
}
.custom-file-input-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Change this to your desired background color */
  color: #fff; /* Text color */
  cursor: pointer;
  border: 1px solid #007bff; /* Border color */
  border-radius: 5px;
}

/* Style the close button (X) */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.bigger {
  font-size: 30px;
}
.removePic {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  font-size: 30px;
}
/* Style the image in the modal */
.modal-content img {
  width: 100%; /* Ensure the image takes up the entire width of the modal */
}
.horizontal-list {
  margin: 30px;
  display: flex; /* Use flexbox for horizontal layout */
  flex-direction: row;
  justify-content: center; /* Adjust this as needed */
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  flex-wrap: wrap;
  background-color: #4682b4;
  border-radius: 25px;
}
.imageContainer {
  width: 400px;
  height: auto;
  transform: scale(
    0.5
  ); /* Adjust the scale factor (0.5 means 50% of the original size) */
  transform-origin: top left;

  overflow: hidden;
}
.imageContainer img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
